html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #111;
    color: white;
}

canvas {
    margin: 20px;
    border: 1px solid #333;
    background: #111;
    color: white;
}

input {
    outline: none;
}

table {
    border: 0px;
}

#main {
    width: 75%;
    height: 300px;
}

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

#controls button {
    padding: 12px 20px 12px 20px;
    border: 0px;
    cursor: pointer;
    outline: none;
}

#wave-detail {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 8px;
}

#add-wave {
    margin-top: 40px;
    cursor: pointer;
}

.wave-container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
}

.wave-container canvas {
    width: 75%;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -o-calc(100% - 40px);
}

.wave-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wave-container .sliders {
    width: 210px;
}
